@media only screen and (max-width: 648px) {
    $grayed-text: #6f7474;

    main {
        display: block;
    }

    aside {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 40px;
        h1 {
            margin-left: 1em;
        }
        ul {
            margin-top: 0.5em;
            margin-right: 10%;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li a {
                color: $grayed-text;
                text-decoration: none;
                margin: 0.2em;
                align-self: center;
            }
        }
    }

    .portfolio {
        position: relative;
        left: 5%;
        bottom: 15%;
        min-width: fit-content;
        max-width: fit-content;
        justify-self: flex-start;
        
    }

}

@media only screen and (max-width: 870px) {
    main {
        overflow-y: scroll;
    }

    .cards-div .balances {
        flex-direction: column;
        
        .card {
            margin:  5px;
            width: 80%;
        }
    }

    .statistic th, .statistic td {
        color: white;
    }

    .balances-nav {
        button.forward, button.backward {
            position: relative;
            right: 10%;
        }
    }

   .main {
       height: fit-content;
   }

   .auth {
        .auth-form {
            width: 30vw;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .TradePair {
        overflow-y: scroll;
        .chart {
            width: 90%;
        }
        .order {
            width: 30%;
            margin-left: 60%;
        }
        .order-history-div {
            width: 55%;
            position: relative;
            bottom: 46%;
            height: 400px;

            .order-history {
                width: 100%;
            }
        }
    }

    .auth {
        .auth-form {
            width: 27vw;
        }
    }
}