@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}

$header: #e2dfdf8e;
$background: #ffffff;
$text: black;
$grayed-text: #6f7474;
$active-link: #3f96be;
$contrast-text: rgba(248, 247, 247, 0.815);

@mixin setFlex($direction, $align) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
}

@mixin fillParent() {
	height: 100%;
	width: 100%;
}

body {
	overflow-y: hidden;
}

main {
	@include setFlex(row, flex-start);
	margin-top: 2%;

	.custom-shape-divider-bottom-1638357497 {
		z-index: -10;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}
	
	.custom-shape-divider-bottom-1638357497 svg {
		position: relative;
		display: block;
		width: calc(185% + 3.3px);
		height: 812px;
	}
	
	.custom-shape-divider-bottom-1638357497 .shape-fill {
		fill: rgb(0, 0, 0);
	}
}

aside {
	@include setFlex(column, center);
	height: 90vh;
	width: 15%;

	h1 {
		color: $active-link;
	}

	ul {
		list-style-type: none;

		li a {
			display: block;
			color: $grayed-text;
			font-weight: 500;
			font-size: 1.3em;
			text-decoration: none;
			margin-top: 10px;
		}
	}
}

section.portfolio {
	position: relative;
	top: 7vh;
	margin-left: 3%;
	width: 82%;
	height: 93vh;

	h1.h1-portfolio {
		font-family: monospace;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 2rem;
		letter-spacing: 1px;
		color: $active-link;
		margin-bottom: 0.7em;
	}
}

article.balance-usdt {
	margin-bottom: 2em;

	h1 {
		font-size: 2.5em;
		font-weight: 600;
	}
}

h3.one-em {
	font-size: 1.2em;
	font-weight: 400;
}

article.balances {
	@include setFlex(row, flex-start);
	margin-top: 15px;

	.card {
		width: 17%;
		height: auto;
		min-height: 2em;
		margin-right: 1.8%;
		border: none;
		box-shadow: 1px 5px 10px 2px #3f96bed8;

		h5 {
			font-size: 1.5em;
			padding-bottom: 5px;
			img {
				height: 30px;
				width: 30px;
			}
		}

		h6 {
			font-size: 1.2em;
			font-weight: 600;
			margin-top: 15px;
		}

		p {
			font-size: 1em;
		}
	}
}

.statistic {
	margin-top: 8%;
	max-width: 94%;
	@include setFlex(column, flex-start);

	* {
		border: none;
	}

	.table {
		position: relative;
		right: 10px;
		color: $contrast-text;
		font-weight: 500;
	}

	.table>:not(:first-child) {
		border-top: none;
	}

	th {
		color: $active-link;
		font-weight: 700;
	}

	h3 {
		color: $active-link;
	}

	td img {
		height: 20px;
		width: 20px;
	}
}

// BEGINING OF TRADEPAIR
// BEGINING OF TRADEPAIR
// BEGINING OF TRADEPAIR
// BEGINING OF TRADEPAIR

.TradePair {
	height: 100vh;
	@include setFlex(row, flex-start);
	flex-wrap: wrap;

	.chart {
		justify-self: flex-start;
		flex-basis: 80%;
		max-height: 500px;
		height: 500px;
	}
}