* {
	margin: 0px;
	padding: 0px;
}

$header: #e5e5e9;
$background: #FFFFFF;
$text: #010001;
$grayed-text: #a8b5c0;
$active-link: #04851F;

@mixin setFlex($direction, $align) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
}

@mixin fillParent() {
	height: 100%;
	width: 100%;
}

body {
	overflow-y: hidden;
}

main {
	@include setFlex(row, flex-start);
	margin-top: 2%;
}

header {
	background-color: $header;
	color: $text;
	width: 100vw;
	min-height: 100px;
	height: auto;
	@include setFlex(row, center);

	h1 {
		margin: 0em 1.9em;
		font-size: 3rem;
	}

	h2 {
		margin-left: auto;
		margin-right: 5em;
		font-size: 2rem;
	}
}

aside {
	@include setFlex(column, center);
	height: 90vh;
	width: 15%;

	ul {
		list-style-type: none;

		li a {
			display: block;
			color: $grayed-text;
			font-weight: 500;
			font-size: 1.3em;
			text-decoration: none;
			margin-top: 10px;
		}
	}
}

section.portfolio {
	margin-left: 2%;
	width: 83%;
	height: auto;
}

article.balances {
	@include setFlex(row, flex-start);
	margin-top: 15px;

	.card {
		width: 17%;
		height: auto;
		min-height: 2em;
		margin-right: 1.8%;
		border: none;
		box-shadow: 0px 5px 3px 4px rgba(0, 0, 0, 0.349);

		h5 {
			font-size: 1.5em;
			padding-bottom: 5px;
			img {
				height: 30px;
				width: 30px;
			}
		}

		h6 {
			font-size: 1.2em;
		}

		p {
			font-size: 1em;
		}
	}
}

td img {
	height: 20px;
	width: 20px;
}