* {
	margin: 0px;
	padding: 0px;
}

.App {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 100vh;
}

.chart {
	height: 70vh;
	width: 75vw;
}

.order-history {
	background-color: #131721;
	height: 30vh;
	width: 75vw;
}

.order-history-nav {
	background-color: #171b25;
	height: 20%;
	color: #b2b5be;
	font-size: 0.8em;
	font-weight: bold;
	font-family: sans-serif;
	border-bottom: #2a2e38 solid 2px;
	display: flex;
	align-items: center;
	text-indent: 1em;
}

.technical-analysis {
	width: 25%;
	height: 47vh;
}

.technical-analysis > div {
	height: 100%;
	width: 100%;
}

.order {
	height: 53vh;
	width: 25vw;
	background-color: #1e222c;
	color: white;
}
